#one{
font-size: 5em;
word-spacing: 65px;
}

#two{
    font-size: 5em;
    word-spacing: 65px;

}

#three{
    font-size: 5em;
    word-spacing: 65px;

}

#fife{
    font-size: 5em;
    word-spacing: 65px;

}